header {
    background-color: white;
    box-shadow: 0 2px 10px;
} 
 .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

}
.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #1a4d8c;
    font-weight: bold;
    font-size: 1.5rem;

}
.logo-icon {
    margin-right: 10px; 
    background: #1a4d8c;
    color: white;
}