<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS-Externo</title>
    <!--<link src="./styles.css">-->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <section>
            <h1>Primeira Sessão</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet cupiditate incidunt molestias officia nostrum, doloribus tempore aliquid exercitationem iure, saepe aperiam corrupti natus commodi quis ut quae hic vel dignissimos?
            Lorem, ipsum dolor sit amet consecteturadipisicing elit. Natus in culpa nobis, assumendanecessitatibus sit facilis nisi neque providentodit officiis quas impedit fugiat atque, pariaturquo exercitationem veniam cum.
            </p>
        </section>
        <section>
            <h2>Segunda Sessão</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ullam aliquid minus quam laboriosam. Voluptatibus dignissimos quaerat commodi facilis consequatur ex, sunt unde dolor maiores molestiae delectus asperiores corporis illo.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.Aliquam, at facere veniam debitis distinctio dicta officia autquod totam natus alias laudantium eaque optio explicabo accusamusquas doloribus dolores enim.
            </p>
        </section>
    </main>
</body>
</html>
